@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#preloader {
    position: fixed;
    background: #F8F4E3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    text-align: center
}

#preloader .preloader-title {
    font-size: 20pt;
    color: #73777b;
    line-height: .9;
    position: absolute;
    top: 41px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Playfair Display",serif
}

#preloader .preloader-title small {
    color: currentColor;
    line-height: .9;
    font-size: 12pt
}

.loading-heart {
    fill: transparent;
    stroke: #C08081;
    stroke-width: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    display: inline-block
}

.loading-heart svg {
    overflow: visible;
    width: 11rem
}

.loading-heart path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
    -webkit-animation: stroke-animation 3s ease-in-out infinite forwards;
    -khtml-animation: stroke-animation 3s ease-in-out infinite forwards;
    -moz-animation: stroke-animation 3s ease-in-out infinite forwards;
    -ms-animation: stroke-animation 3s ease-in-out infinite forwards;
    -o-animation: stroke-animation 3s ease-in-out infinite forwards;
    animation: stroke-animation 3s ease-in-out infinite forwards
}

@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0
    }

    30% {
        stroke-dashoffset: 1550
    }

    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        stroke-dashoffset: 3100
    }
}
